BEGIN SIDEBAR -->
    <div class="page-sidebar" data-pages="sidebar" pg-sidebar>
      <div id="appMenu" class="sidebar-overlay-slide from-top">
      </div>
      <!-- BEGIN SIDEBAR HEADER -->
      <div class="sidebar-header">
        <img src="publicApp/assets/img/logo_white.png" alt="logo" class="brand" data-src="publicApp/assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
          <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR HEADER -->
      <!-- BEGIN SIDEBAR MENU -->
      <div class="sidebar-menu">
        <ul class="menu-items">
          <li ng-repeat="nav in $root.navs track by $index">
            <a ng-if="nav.navtype === 1" href ui-sref="{{'app.' + nav.page.url}}" >
              <span class="title" ng-bind="nav.name"></span>
            </a>
            <a ng-if="nav.navtype !== 1" href="{{nav.href}}" target="_blank" ng-bind="nav.name">
              <span class="title" ng-bind="nav.name"></span>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR