<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/adminstyle.css"/>
  <link rel="stylesheet" type="text/css" href="/cmsAdmin/StyleAdmin/adminFormStyles.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/reset.css"/>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/ng-notify/dist/ng-notify.min.css">
  <link href="dependencies/ng-dialog/css/ngDialog.css" rel="stylesheet">

  <script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/js/modal.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/dependencies/ng-ckeditor.js"></script>
  <script src="/bower_components/ng-notify/dist/ng-notify.min.js"></script>
  <script src="bower_components/momentjs/min/moment-with-locales.min.js"></script>
  <script src="dependencies/ng-dialog/js/ngDialog.js"></script>
  
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
</head>
<body ng-app="adminApp">
  <div class="row wrapper">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="#/">Logo™</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right mobview">
          <li>
            <span id="userName"><%= user.name%></span>
          </li>
          <li>
              <a href="/logout" id="logout" role="button" aria-expanded="false" title="Выход"><i class="fa fa-sign-out"></i></a>
          </li>
      </ul>
  </div>
  <div class="col-md-2 side_bar " ng-controller="sidebarController">
    <ul class="nav nav-pills nav-stacked" data-user-role=<%=user.role%>>
        <% if (user.role == 2) { %>   <!-- Admin  -->
          <li role="presentation" ><a href="#/users" ng-class="{active:$root.isActive('/users')}" >Users</a></li>
          <li role="presentation"><a href="#/pages" ng-class="{active:$root.isActive('/pages')}" >Pages</a></li>
          <li role="presentation"><a href="#/navigation" ng-class="{active:$root.isActive('/navigation')}" >Navigation</a></li>
        <% } %>
        <% if (user.role == 1) { %>   <!-- Moderator  -->
          <li role="presentation"><a href="#/pages">Pages</a></li>
        <% } %>
    </ul>
  </div>
    <div ng-view id="main-view" class="col-md-10"></div>
    <footer id="main-footer" class="navbar-fixed-bottom">
      <div class="row">
        <div class="col-xs-12 text-right">
            <label>© 2015</label>
        </div>
      </div>
    </footer>
  </div>
  <script src="/cmsAdmin/cmsAdmin.js"></script>
  <script src="/cmsAdmin/factories/error_401.js"></script>
  <script src="/cmsAdmin/adminServices/CKEditorService.js"></script>
  <script type="text/javascript">
    CKEDITOR.config.protectedSource.push(/<(script)[^>]*>.*<\/script>/ig);
  </script>
  <script src="/cmsAdmin/adminServices/httpInterceptor.js"></script>
  <script src="/cmsAdmin/adminServices/userService.js"></script>
  <script src="/cmsAdmin/adminServices/pageService.js"></script>
  <script src="/cmsAdmin/adminServices/navigationService.js"></script>
  <script src="/cmsAdmin/baseService/baseService.js"></script>

  
  <script src="/cmsAdmin/adminControllers/pagesController.js"></script>
  <script src="/cmsAdmin/adminControllers/sidebarController.js"></script>
  <script src="/cmsAdmin/adminControllers/UsersController.js"></script>
  <script src="/cmsAdmin/adminControllers/createUserController.js"></script>
  <script src="/cmsAdmin/adminControllers/editPageController.js"></script>
  <script src="/cmsAdmin/adminControllers/createUserModalController.js"></script>
  <script src="/cmsAdmin/adminControllers/navigationController.js"></script>
  <script src="/cmsAdmin/adminControllers/navModalController.js"></script>
  <script src="/cmsAdmin/filters/dateFilter.js"></script>
  <script src="/cmsAdmin/adminDirectives/directives.js"></script>

  <script src="/cmsAdmin/adminControllers/CKEditorController.js"></script>
</body>
</html>
