<html>
<head>
  <title>Admin</title>
  <link rel="stylesheet"  href="/styles/bootstrap.css"/>
  <link rel="stylesheet" href="/styles/adminstyle.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/reset.css"/>
</head>
<body ng-app="">
  <div class="col-md-2 side_bar ">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ><a href="#">Users</a></li>
      <li role="presentation"><a href="admin/pages">Pages</a></li>
      <li role="presentation"><a href="#">Navigation</a></li>
    </ul>
  </div>
    <%- body %>
  <script src="/js/bower_components/angular/angular.js"></script>
</body>
</html>
