<div class="text-center" id="confirmDellModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  ng-click="closeThisDialog()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
       <h4>Are you sure that you want to delete this user ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="delUser(user,index);closeThisDialog()">Delete</button>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Close</button>
      </div>
    </div>
  </div>
</div>