<div class="container-fluid container-fixed-lg ">
    <h3 class="page-title">Media</h3>
</div>
<div class="galery col-md-12">
	<div class="col-md-3" ng-repeat="media in mediaArr">
		<div class="gallery-item" ng-click="showMediaItem(media)" data-width="1" data-height="1">
		<div class="gallery-item" data-width="1" data-height="1">
			<div class="frame">
				<span class="helper"></span>	
				<video ng-if="media.type === 'video'" class="image-responsive-height" ng-src="{{media.url}}" ></video>
				<img ng-if="media.type === 'image'" ng-src="{{media.url}}" alt="" class="image-responsive-height">
			</div>
			<!-- <div class="overlayer bottom-left full-width">
				<div class="overlayer-wrapper item-info ">
					<div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
						<div class="">
							<p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
							<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
							<div class="clearfix"></div>
						</div>
						<div class="m-t-10">
							<div class="thumbnail-wrapper d32 circular m-t-5">
								<img width="40" height="40" src="cmsAdmin/assets/img/profiles/avatar.jpg" data-src="cmsAdmin/assets/img/profiles/avatar.jpg" data-src-retina="cmsAdmin/assets/img/profiles/avatar.jpg" alt="">
							</div>
							<div class="inline m-l-10">
								<p class="no-margin text-white fs-12">Designed by Alex Nester</p>
								<p class="rating">
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star"></i>
								</p>
							</div>
							<div class="pull-right m-t-10">
								<button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>