<!-- START PAGE COVER -->
<!-- <div class="container-fluid container-fixed-lg ">
    <h3 class="page-title">Page management</h3>
    <a href="" ui-sref="app.editpage" class="btn btn-primary create-btn pull-right">Create page</a>
</div>
<div class="col-md-12">
  <div ng-if="nav" id="pagesList" class="list">
    <table tr-ng-grid="" enable-filtering="false" items="pages" class="table table-hover">
      <thead>
          <th field-name="title" display-name="Page name" >
          </th>
          <th field-name="nodes" display-name="Menu Item" >
          </th>
          <th field-name="updatedAt" display-name="Last Modified" >
          </th>
          <th field-name="tags" display-name="Tags" >
          </th>
          <th field-name="actions" enable-sorting="false" display-name="Actions" >
          </th>
      </thead>
      <tbody>
          <td field-name="title">
            <span>{{gridItem.title}}</span>
          </td>
          <td field-name="nodes">
            <span>{{renderNodes(gridItem.id)||'no relation'}}</span>
          </td>
          <td field-name="updatedAt">
            <span>{{ gridItem.updatedAt | dateTimeUtc }}</span>
          </td>
          <td field-name="tags" class='tags'>
            <span class='tags-words'>{{gridItem.tags.join(', ')}}</span>
          </td>
          <td field-name="actions">
            <button  type="button" class="btn btn-primary btn-sm margin-right ng-scope delUserButton" title="Edit" ng-click="editPage(gridItem)">
              <span class="fa fa-pencil"></span>
            </button>
            <button class="btn btn-danger btn-sm ng-scope" title="Delete" ng-click="openConfirmDelPage(gridItem, $index)">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>
      </tbody>
    </table>
  </div>
</div> -->
<div class="container-fluid container-fixed-lg ">
    <h3 class="page-title">Page management</h3>
    <a href="" ui-sref="app.editpage" class="btn btn-primary create-btn pull-right">Create page</a>
</div>
<div class="col-md-12">
  <div id="pagesList" class="list">
    <table id="pages-table" class="table table-hover">
      <thead>
        <th>Page name</th>
        <th>Menu Item</th>
        <th>Last Modified</th>
        <th>Tags</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-if="nav" ng-repeat="page in pages track by $index" class="userItem">
          <td>
            <span>{{page.title}}</span>
          </td>
          <td>
            <span>{{renderNodes(page.id) || 'no relation'}}</span>
          </td>
          <td>
            <span> {{ page.updatedAt | dateTimeUtc }} </span>
          </td>
          <td class='tags'>
            <span class='tags-words'> {{page.tags.join(', ')}} </span>
          </td>
          <td>
            <button  type="button" class="btn btn-primary btn-sm margin-right ng-scope delUserButton" title="Edit" ng-click="editPage(page)">
              <span class="fa fa-pencil"></span>
            </button>
            <button class="btn btn-danger btn-sm ng-scope" title="Delete" ng-click="openConfirmDelPage(page, $index, $event)">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>


