<div ui-tree-handle class="tree-node tree-node-content">
  <div class="tree-node-content">
    <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this,node.id)"><span class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
    <input type="text" ng-model="node.title" class="form-control">
    <select ng-model="node.id" name="page" ng-change="node.url = setUrl(node.id)" class="form-control" ng-options="p.id as p.title for p in pages" required>
        <option value="">No Page</option>
    </select>
    <span ng-show="Form.navModalForm.page.$error.required && Form.navModalForm.page.$dirty ">Page is required.</span>
  </div>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'cmsAdmin/tpl/nodesRenderers/nodes_renderer.html'">
  </li>
</ol>